/* 
    Canvas ✓
    Nuevos objetos ✓ —
    Arbol jerarquico ✓ —
    Atributos del objeto
    PlayButton
    Configuración
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #30302f;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

#controles {
    color: #f7f7f7;
    font-size: 25px;
    align-self: center;
    display: flex;
}

#controles>div {
    margin-top: -1px;
    padding: 17px 20px 18px 20px;
    cursor: pointer;
}

#play {
    background-color: #40e334;
}

#logo {
    display: flex;
    font-size: 20px;
    color: white;
    padding: 20px;
    font-family: NexaBold;
}

#punto {
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: orange;
    align-self: flex-end;
    margin: 2px;
    margin-bottom: 8px;
}

main {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, 1fr);
    height: calc(100vh - 64px);
}

#container-canvas {
    grid-column: 4/10;
    grid-row: 1/6;
}

#jerarquia {
    grid-column: 4/1;
    grid-row: 1/6;
    overflow-y: auto;
    padding: 20px;
}

#atributos {
    grid-column: 13/10;
    grid-row: 1/6;
    overflow: hidden;
    overflow-y: auto;
    min-width: 0;
    padding: 20px;
}

#jerarquia>.objetos>p {
    display: flex;
    padding: 5px 15px;
    justify-content: space-between;
    cursor: pointer;
}

select {
    padding: 5px;
    width: 100%;
    margin: 10px 0;
}

label,
input[type="text"],
input[type="number"] {
    display: block;
}

input:focus {
    outline-width: 0;
}

#atributos label {
    font-weight: bold;
    color: #30302f;
    font-size: 12px;
}

input[type="file"],
input[type="color"],
input[type="number"] {
    margin: 15px 0;
    width: 100%;
}

input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 5px 0;
    border: 0px solid #c7c7c7;
    border-bottom: 1px solid #c7c7c7;
    margin-bottom: 20px;
}

#colision-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

#colision-input>input {
    height: 15px;
    width: 15px;
}

#colision-input label {
    display: inline-block;
    padding: 10px 0;
}

label.titulo {
    font-size: 15px !important;
    margin: 20px 0;
    margin-left: -5px;
}

@font-face {
    font-family: NexaBold;
    src: url("../fonts/NexaBold.otf");
}
